@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$font-color: #112;
$font-alternative-color: #000;

//$background-color: radial-gradient(rgb(117, 250, 150), rgb(0, 71, 18)) 3;
$background-image: url(../../../image/background-light.jpg);
$footer-background-color: #041;
$header-background-color: #8CE;
$footer-top-border: #ED5;
$background-alternative-color: #8CE;
$header-font: 'Bebas Neue', sans-serif;
$main-font: 'EB Garamond', serif;
$button-titles: 'Oswald', sans-serif;
$main-color-1: #021;
$main-color-2: #142;
$main-color-3: #174;
$main-color-4: #2A5;
$main-color-5: #EFF;