{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}

<div class="page-grid-2">
    <div class="container-start-last">
        <h1>Om kursen</h1>
        Kursens fokus 채r objektorienterade programmeringstekniker i programmeringsspr책ket PHP. 
        Klassiska objektorienterade konstruktioner hanteras tillsammans med objektorienterad programmering i webbaserat ramverk 
        tillsammans med databaser samt enhetstestning.
    </div>
    <div class="container-start-last">
    <br>
        <a href="https://github.com/dbwebb-se/mvc/tree/main">
            <img class="github-image" src="{{ asset('build/images/github.png') }}" alt=""><br>
            L채nk till kursens repo
        </a>
        <br>
        <a href="https://github.com/Serhateser23/mvc-kurs">
            <img class="github-image" src="{{ asset('build/images/github.png') }}" alt=""><br>
            L채nk till mitt repo
        </a>
    </div>
</div>

{% endblock %}