{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}

<div class="startpage-grid-3">
    <div class="container-start-last">
        <h2 id="kmom01">kmom01</h2>
        <p>Vilken utvecklingsmiljö använder du (operativsystem, texteditor, terminal, mm)?<br>
        <i>Jag använder mig utav Windows, Visual Studio Code samt Ubuntuterminalen.</i><br>
        
        <p> Gick det bra att installera labbmiljön eller var det något som krånglade?<br>
        <i>Det tog sin tid men gick bra till slut.</i><br>
        
        <p> Är du bekant med terminalen och Unix-kommandon sedan tidigare?<br>
        <i>Jag har aldrig använt mig av en terminal eller Unix-kommandon tidigare. Men känns som att jag fått grepp på det</i><br>
        
        <p> Är du bekant med HTML, CSS och PHP sedan tidigare eller har du jobbat med liknande tekniker?<br>
        <i>Jag har aldrig kodat tidigare men jag har sett en hel del kod och förstår på ett ungefär struktur osv. </i><br>
        
        <p> Gick det bra att komma i gång med kursmomentet rent allmänt eller var det något som var lurigt, svårt eller utmanande?<br>
        <i>Tyckte PHP-delen var tydlig men hade lite svårt att koppla ihop hur CSS och styling fungerar. Men polletten föll ner och det känns nu rätt tydligt.</i><br>
        
        <p> Vilken är din TIL för detta kmom?<br>
        <i>Att det är riktigt kul att börja förstå saker men framförallt att det är mycket att lära sig.</i><br>
        
        </p>
        
        <h2 id="kmom02">kmom02</h2>
<br>
        
        <h2 id="kmom03">kmom03</h2>
    <br>
        
        <h2 id="kmom04">kmom04</h2>
    <br>
        
        <h2 id="kmom05">kmom05</h2>
    <br>
        <h2 id="kmom06">kmom06</h2>
     <br>
        <h2 id="kmom10">kmom10</h2>
     
    </div>
    <div class="container-start-last">
        <h1>Redovisning</h1>
        <ul>
            <li><a href="#kmom01">kmom01</a></li>
            <li><a href="#kmom02">kmom02</a></li>
            <li><a href="#kmom03">kmom03</a></li>
            <li><a href="#kmom04">kmom04</a></li>
            <li><a href="#kmom05">kmom05</a></li>
            <li><a href="#kmom06">kmom06</a></li>
            <li><a href="#kmom10">kmom10</a></li>
        </ul>
    </div>
</div>

{% endblock %}