{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}

<div class="startpage-grid-3">
    <div class="container-start-last">
        <h2 id="kmom01">kmom01</h2>
        <p>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.<br>
        <i>Inte mer än att vi gått igenom det lite kort kring JS i databas-kursen. </i><br>
        
        <p>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?<br>
        <i>Det som är viktigt att förstå är att klasser kan beskrivas som ett skal eller en mall, där man i förväg bestämt att ett objekt ska ha vissa attribut.
            T.ex. om man vill ha olika bilar, men samtliga bilar har färg, årsmodell, antal dörrar osv. När man sedan ska skapa bilar så användar man sig enkelt av klasser 
            och skapar därefter en specifik bil, vilket då blir ett objekt som man kan jobba vidare med.
        </i><br>
        
        <p>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?<br>
        <i>Det är lite hjärngymnastik i början för att hänga med på vart som finns vart, och framförallt varför. Men tycker ändå det känns bekant med t.ex. designkursen där saker är tydligt separerade.</i><br>
        
        <p>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner 
            att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.<br>
        <i>Det är utan tvekan kring säkerhet, det är något jag velat lära mig mer kring rätt länge och känner att det är en pusselbit som saknas för att jag ska 
            våga mig på at starta och lansera projekt på egen hand. Så jag ser fram emot att hugga tänderna i den delen.
        </i><br>
        
        <p> Gick det bra att komma i gång med kursmomentet rent allmänt eller var det något som var lurigt, svårt eller utmanande?<br>
        <i>Tyckte PHP-delen var tydlig men hade lite svårt att koppla ihop hur CSS och styling fungerar. Men polletten föll ner och det känns nu rätt tydligt.</i><br>
        
        <p> Vilken är din TIL för detta kmom?<br>
        <i>Min stora lärdom är nog att jag kommit fram till att skapa mina egna kataloger där jag börjar spara undan kod jag skrivit, för mycket kan återanvändas. 
            Så organiserar jag det på ett bra sätt kan det spara mig en massa tid i framtiden. 
        </i><br>
        
        </p>
        
        <h2 id="kmom02">kmom02</h2>
<br>
        
        <h2 id="kmom03">kmom03</h2>
    <br>
        
        <h2 id="kmom04">kmom04</h2>
    <br>
        
        <h2 id="kmom05">kmom05</h2>
    <br>
        <h2 id="kmom06">kmom06</h2>
     <br>
        <h2 id="kmom10">kmom10</h2>
     
    </div>
    <div class="container-start-last">
        <h1>Redovisning</h1>
        <ul>
            <li><a href="#kmom01">kmom01</a></li>
            <li><a href="#kmom02">kmom02</a></li>
            <li><a href="#kmom03">kmom03</a></li>
            <li><a href="#kmom04">kmom04</a></li>
            <li><a href="#kmom05">kmom05</a></li>
            <li><a href="#kmom06">kmom06</a></li>
            <li><a href="#kmom10">kmom10</a></li>
        </ul>
    </div>
</div>

{% endblock %}